# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake_install.cmake
CMakeFiles
CMakeCache.txt
example/udevpp_example
example/udevpp_enumerate_example
Makefile
CTestTestfile.cmake
monitor_test
device_test
Testing
